<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
  <add name="strCon" connectionString="SERVER= sql.bsite.net\MSSQL2016; USER=hienleminh051001_dbfood; PASSWORD= 123456; DATABASE=hienleminh051001_dbfood;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>